<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
<div class="container">
  <div style="text-align:left">
    <h2> {{title}} </h2>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-5 col-xs-5">
          <label>Name:</label>
        </div>
        <div class="col-sm-7 col-xs-7">
          <input type="text" id="name" name="name" [(ngModel)]="employee.name" #name="ngModel" required [disabled]="viewOnly" [ngClass]="{ 'red': name.errors && (name.dirty || name.touched)}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-xs-5">
          <label>Associate Id:</label>
        </div>
        <div class="col-sm-7 col-xs-7">
          <input type="number" id="associateid" [(ngModel)]="employee.associateId" required #associateid="ngModel" [disabled]="viewOnly"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-xs-5">
          <label>Email:</label>
        </div>
        <div class="col-sm-7 col-xs-7">
          <input type="email" id="email" [(ngModel)]="employee.email" required #mail="ngModel" [ngClass]="{ 'red': mail.errors && (mail.dirty || mail.touched)}"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [disabled]="viewOnly" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-xs-5">
          <label>Mobile:</label>
        </div>
        <div class="col-sm-7 col-xs-7">
          <input id="phone" type="text" [(ngModel)]="employee.mobile" required #phone="ngModel" maxlength=10 [ngClass]="{ 'red': phone.errors && (phone.dirty || phone.touched)}"
            pattern="^[0-9]{10}" [disabled]="viewOnly" />
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="row">
        <div class="col-sm-12">
          <input type="file" accept="image/*" (change)="handleFileInput($event.target.files)" style="display: none;" [disabled]="viewOnly"
            #file>
          <img [src]="imageUrl" (click)="file.click()">
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <label for="suceess" class="btn btn-success status-button">
            <input type="radio" id="suceess" name="availability" class="badgebox" [value]="1" [(ngModel)]="status" [checked]="employee.statusGreen"
              [disabled]="viewOnly">
            <span class="badge">&#10003;</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <label for="primary" class="btn btn-primary status-button">
            <input type="radio" id="primary" name="availability" class="badgebox" [value]="2" [(ngModel)]="status" [checked]="employee.statusBlue"
              [disabled]="viewOnly">
            <span class="badge">&#10003;</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <label for="danger" class="btn btn-danger status-button">
            <input type="radio" id="danger" name="availability" class="badgebox" [value]="3" [(ngModel)]="status" [checked]="employee.statusRed"
              [disabled]="viewOnly">
            <span class="badge">&#10003;</span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <label for="l1" class="btn btn-default status-button-range">L1
            <input type="radio" id="l1" name="range" class="badgebox" [value]="1" [(ngModel)]="level" [checked]="employee.level1" [disabled]="viewOnly">
            <span class="badge">&#10003;</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <label for="l2" class="btn btn-default status-button-range">L2
            <input type="radio" id="l2" name="range" class="badgebox" [value]="2" [(ngModel)]="level" [checked]="employee.level2" [disabled]="viewOnly">
            <span class="badge">&#10003;</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <label for="l3" class="btn btn-default status-button-range">L3
            <input type="radio" id="l3" name="range" class="badgebox" [value]="3" [(ngModel)]="level" [checked]="employee.level3" [disabled]="viewOnly">
            <span class="badge">&#10003;</span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
          <div class="remark">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-3">
                  <label>Gender:</label>
                </div>
                <div class="col-sm-9">
                  <label for="male" class="btn btn-info status-button-gender">Male
                    <input type="radio" id="male" name="gender" [value]="1" [checked]="maleEmployee" [disabled]="viewOnly" class="badgebox" [(ngModel)]="gender">
                    <span class="badge">&#10003;</span>
                  </label>
                  <label for="female" class="btn btn-info status-button-gender">Female
                    <input type="radio" id="female" name="gender" [value]="2" [checked]="femaleEmployee" [disabled]="viewOnly" class="badgebox" [(ngModel)]="gender">
                    <span class="badge">&#10003;</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="inputLabel">
                    <label>Remark:</label>
                  </div>
                </div>
              </div>
              <textarea id="remark" name="remark" [(ngModel)]="employee.remark" [disabled]="viewOnly"></textarea>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div>
    <hr>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2">
            <span>
              <h4>Skills</h4>
            </span>
          </div>
          <div class="col-sm-4 col-xs-12" [hidden]="viewOnly">
            <input class="skill-search" id="myInput" [(ngModel)]="searchText" type="text" placeholder="Search Skill (Auto filter)">
          </div>
          <div class="col-sm-4 col-xs-9" [hidden]="viewOnly">
            <select name="newSkills" (change)="onSelect(selectedSkilID)" [(ngModel)]="selectedSkilID">
              <option *ngFor="let skill of newSkillList" value={{skill.skillId}}>{{skill.skillName}}</option>
            </select>
          </div>
          <div class="col-sm-2 col-xs-3" [hidden]="viewOnly">
            <button type="button" class="btn btn-success btn-row" (click)="addSkill()">Add</button>
          </div>
        </div>
        <div>
          <br>
        </div>
        <div class="row">
          <div class="col-sm-4" *ngFor="let skill of employee.skills | skill : searchText">
            <div class="row">
              <div class="col-sm-4">
                <label>{{skill.skillName}}</label>
              </div>
              <div class="col-sm-8">
                <input type="range" min="0" max="20" value="{{skill.skillLevel}}" class="slider" id="myRange" (input)="sliderChnage($event.target.value,skill)"
                  [disabled]="viewOnly"> {{skill.skillLevel}}
              </div>
            </div>
          </div>
        </div>
        <div>
          <hr>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <label>Spoken</label>
              </div>
              <div class="col-sm-8">
                <input type="range" min="0" max="20" value="{{employee.spokenLevel}}" class="slider" id="myRange" [(ngModel)]="employee.spokenLevel" [disabled]="viewOnly"> {{employee.spokenLevel}}
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <label>Communication</label>
              </div>
              <div class="col-sm-8">
                <input type="range" min="0" max="20" value="{{employee.communicactionLevel}}" [disabled]="viewOnly" class="slider" id="myRange" [(ngModel)]="employee.communicactionLevel"> {{employee.communicactionLevel}}
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <label>Logic</label>
              </div>
              <div class="col-sm-8">
                <input type="range" min="0" max="20" value="{{employee.logicLevel}}" class="slider" [disabled]="viewOnly" id="myRange" [(ngModel)]="employee.logicLevel"> {{employee.logicLevel}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <label>Aptitude</label>
              </div>
              <div class="col-sm-8">
                <input type="range" min="0" max="20" value="{{employee.aptitudeLevel}}" class="slider" [disabled]="viewOnly" id="myRange" [(ngModel)]="employee.aptitudeLevel"> {{employee.aptitudeLevel}}
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <label>Confidence</label>
              </div>
              <div class="col-sm-8">
                <input type="range" min="0" max="20" value="{{employee.confidenceLevel}}" class="slider" [disabled]="viewOnly" id="myRange" [(ngModel)]="employee.confidenceLevel"> {{employee.confidenceLevel}}
              </div>
            </div>
          </div>
        </div>
        <div><br></div>
        <div class="row ">
          <div class="col-sm-4">
            <div class="row ">
              <div class="col-sm-4 col-xs-5">
                <label>Strenght:</label>
              </div>
              <div class="col-sm-8 col-xs-7">
                <input type="text" id="strength" name="strength" [(ngModel)]="employee.strength" [disabled]="viewOnly" />
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="row ">
              <div class="col-sm-4 col-xs-5">
                <label>Weakness:</label>
              </div>
              <div class="col-sm-8 col-xs-7">
                <input type="text" id="name" name="name" [(ngModel)]="employee.weakness" [disabled]="viewOnly" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inputRow">
    <button [hidden]="viewOnly" type="button" class="btn btn-success" (click)="updateEmployee()" [disabled]="associateid.invalid || name.invalid || mail.invalid || phone.invalid ">Update</button>
    <button type="button" class="btn btn-danger" [routerLink]="['']">{{viewOnly ? 'Back':'Cancel'}}</button>
  </div>
</div>