<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body ng-controller="mainController">
    <!--div >
      <img src="/assets/images/header.jpg">
    </div-->
  <div class="wrapper">
    <!-- Menubar -->
    <header>

      <nav class="navbar navbar-custom">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-home"></span> Home
              </a>
            </a>
          </div>
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a routerLink="/add-skill" routerLinkActive="active">Add Skills</a>
              </li>
              <li>
                <a routerLink="/add-employee" routerLinkActive="active">Add Employee</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
  <br>
  <div id="main">
    <router-outlet></router-outlet>
  </div>
</body>

</html>